<!DOCTYPE html>
<html lang="en">
<head>
<title>TutorCo</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body class="view" >





<div class="text-center ">
<div>
    <div class="card-body bg-warning text-center", style='width: 500px; margin: auto'>
<div class="card text-dark ">
  <h2><div class="card-body  font-weight-normal">Please Sign In</div></h2>
<br></br>
  <div class="form-group font-weight-normal text-center">
  <%= form_tag '/login' do %>

    <%= label_tag "Username:" %>
    <br>
    <%= text_field_tag :username %>
    <br>
    <%= label_tag "Password:" %>
    <br>
    <%= password_field_tag :password %>
  <br></br>
    <a type="button" class="btn" role="button"><%=submit_tag "Sign In"%></a>
  


</div>
    <% end %>
    </div>
  </div>
</div>
</div>
</div>


</body>
</html>