

<div class="text-center pt-5 pb-5 pr-5 pl-5">
<div class="card bg-warning">
    <div class="card-body text-center">
<div class="card bg-secondary text-white">
  <h2><div class="card-body font-weight-bold pl-5">Sign In</div></h2>
<br></br>
  <div class="form-group font-weight-bold">
  <%= form_tag '/login' do %>

    <%= label_tag "Username" %>
    <%= text_field_tag :username %>
    <br>
    <%= label_tag "Password" %>
    <%= password_field_tag :password %>
  <br></br>
    <a type="button" class="btn btn-warning btn-lg mt-5 ml-5 pl-5 pr-5 font-weight-bold text-center" role="button"><%=submit_tag "Sign In"%></a>
  


</div>
    <% end %>
    </div>
  </div>
</div>
</div>
</div>


