<!DOCTYPE html>
<html lang="en">
<head>
<title>TutorCo SignUp</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body class="view" >

<div class="text-center ">
<div>
    <div class="card-body bg-warning text-center", style='width: 500px;  margin: auto'>
<div class="card text-dark ">
  <h2><div class="card-body font-weight-normal ">Please Register</div></h2>

  <div class="form-group font-weight-normal text-center">

<ul>
<% if @student.errors.any? %>
<h3> Errors: </h3>
<% @student.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
    <% end %>
   </ul>

   <div class="form-group font-weight-normal text-center">



<%= form_for @student do |f| %>
  
    <%= f.label "name:" %>
    <br>
    <%= f.text_field :name %>
  
    <br>
    
    <%= f.label "grade:" %>
    <br>
    <%= f.select :grade, ["1st", "2nd", "3rd", "4th", "5th", "6th", "7th", "8th", "9th", "10th", "11th", "12th", "College Freshman", "College Sophomore", "College Junior", "College Senior"], prompt: true %>
   
    <br>
    
    <%= f.label "location:" %>
    <br>
    <%= f.collection_select :location_id, Location.all, :id, :name, prompt: true %>

    <br>
    
    <%= f.label "Profile Picture URL:" %>
    <br>
    <%= f.text_field :img_url %>
 
    <br>
    
    <%= f.label "username:" %>
    <br>
    <%= f.text_field :username %>

    <br>
    
    <%= f.label "password:" %>
    <br>
    <%= f.password_field :password %>

    <br>
    
    <%= f.label "password_confirmation:" %>
    <br>
    <%= f.password_field :password_confirmation %>

    <br>
    </br>
    <%= f.submit %>
    <% end %>
   
    <br>
    
    
   

</body>
</html>