<ul>
<% if @reservation.errors.any? %>
<h3> Errors: </h3>
<% @reservation.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
    <% end %>
   </ul>

   <nav class="new-reservation text-left text-dark px-3 mt-5 ml-5">
<h2> Book a Reservation With Us</h2>
<br></br>

<%= form_for @reservation do |f| %>
    <div class="form-group">
    <%= f.label :date %>
    <%= f.date_field :date %>
    </div>
    <br>
    <div class="form-group">
    <%= f.label :time %>
    <%= f.select :time, ["9:00AM", "9:30AM", "10:00AM", "10:30AM", "11:00AM", "11:30AM", "12:00PM", "12:30PM", "1:00PM", "1:30PM", "2:00PM", "2:30PM", "3:00PM", "3:30PM", "4:00PM", "4:30PM" ], prompt: true %>
    </div>
    <br>
    <div class="form-group">
    <%= f.label :instructor_and_subject%>
    <%= f.collection_select :instructor_id, @my_instructor, :id, :instructor_subject, prompt: true %>
    </div>
    <br>
    <div class="form-group">
    <%= f.label :room %>
    <%= f.collection_select :room_id, Room.all, :id, :number, prompt: true %>
    </div>
    <br></br>
    <div class="form-group">
    <%= f.submit %>
    <% end %>
    </div>
    <br>