<!DOCTYPE html>
<html>
  <head>
    <title>TutorCo</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <% if @student %>
      <%= button_to "Logout", sessions_path, method: :delete %>
      <% else %>
      <%= button_to "Login", login_path, method: :get %>
      <% end %>
        <%= yield %>
    </div>
  </body>
</html>
