<!DOCTYPE html>
<html lang="en">
<head>
  <title>TutorCo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1><%= @student.name%>'s Profile!</h1>
</div>







    <div class="container" style="margin-top:30px"> 
    <div class="text-center text-warning">
      <h2>About Me</h2>
      <br>
      <div class="fakeimg">My Image</div>
      <p></p>
      <hr class="d-sm-none">
    </div>

    <div class="text-center border border-warning">
      <br>
      <h4>Get to know me...</h4>
      <br>
      <h5 class ="name" > My Username: <%=@student.username%></h5>
      <h5>My Grade: <%=@student.grade%></h5>
      <br>
      <h5>My City:</h5>
      <h5><%=@student.location.name%></h5>
      <br>
      <p><%=link_to "Book", new_reservation_path %> a tutoring reservation.</p>
    </div>
</div>
<br>



<div class="jumbotron text-center fixed-bottom" style="margin-bottom:0">
  <p>TutorCo</p>
</div>

</body>
</html>